.header {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: baseline;
    text-align: center;
    color: rgba(209, 162, 162, 0.3);
    justify-content: space-between;
}
.title {
    font-family: 'Varela Round';
    font-size: 2.5rem;
    line-height: 2.5rem;
    letter-spacing: 0.8rem;
    padding-top: 25px;
    padding-left: 50px;
    background: -webkit-linear-gradient(rgba(134, 125, 99, 0.9), rgba(17, 15, 15, 0));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

#check {
    display: none;
}
.icone {
    cursor: pointer;
    padding: 15px;
    right: 0;
    position: absolute;
    /* z-index: 1; */
}
.barra{
    /* background-color: #333; */
    height: 25%;
    width: 100px;
    right: 0;
    position: absolute;
    transition: all .9s linear;
    top: -50px;
    right: -400px;
    display: none;
}
.open {
    width: 100%;
    position: absolute;
    top: 60px;
}
.link {
    background-color: #494950;
    border-bottom: white 2px solid;
    color: white;
    transition: all .5s linear;
}
.link:hover {
    background-color: #050599;
}
#check:checked ~ .barra {
    transform: translateX(-450px);
    display: initial;
}

