.images {
    height: 400px;
    width: 100%;
    padding-top: 10rem;
    background: linear-gradient(to bottom, #161616 0%, rgba(22, 22, 22, 0.9) 75%, rgba(22, 22, 22, 0.8) 100%);
    position: absolute;

}
.ipad {
    position: absolute;
    height: 200px;
    bottom: 1px;
    left: 25%;
}