.project {
    margin-top: 800px;
    width: 100%;
    height: 400px;
    background-color: white;

}

.flexProject {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mountain {
    width: 500px;
    border-right: springgreen solid 1px;
}
.mttext {
    width: 250px;
}